.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin:0px;
}

@media screen and (max-width: 768px){
    .gallery{
        margin:0px 0px 0px 0px;
        flex-direction: column;
    }
    
}