@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Didact+Gothic&display=swap");

:root {

  --navbar-component-hover: #fbb238;
  --background:#f5e3ce;
  --navbar-text: #f0e6d6;
  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100%;
    background-color:var(--background);
    z-index: 5;
    padding: 12.5px 7px;
  }

  .navbar-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
  }
  
  .navbar-elements li {
    background-color: var(--navbar-component-default);
    padding: 10px 25px;
    border-radius: 15px 15px 15px 15px;
    flex-shrink: 0;
    color: var(--navbar-text);
    text-align: center;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .navbar-elements li:hover,
  .navbar-elements li.active:hover {
    background-color: var(--navbar-component-hover);
  }

  .navbar-elements li.active{
    background-color: var(--navbar-component-active);
  }

  @media only screen and (max-width: 1000px){
    .navbar{

      padding: 5px;
      align-items: flex-start;
    }
.nav-logo{
  margin-top: 22px;
}
  }