@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Didact+Gothic&display=swap");

:root {
  --navbar-text: #f0e6d6;
  --navbar-component-hover: #fbb238;
  --navbar-component-default: #ffb6c9;
  --navbar-component-active:#de5b84;
  --background:#f5e3ce;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    position:fixed;
    width:100%;
    background-color:var(--background);
    z-index: 1;
    margin-bottom: 500px;
  }
  .navbar-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    padding-right: 20px;
  }
  
  .navbar-elements li {
    background-color: var(--navbar-component-default);
    padding: 10px 25px;
    border-radius: 15px 15px 15px 15px;
    flex-shrink: 0;
    color: var(--navbar-text);
    text-align: center;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .navbar-elements li:hover,
  .navbar-elements li.active:hover {
    background-color: var(--navbar-component-hover);
  }
  
  .nav-logo {
    width: 226px;
    height: 92.455px;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 20px 25px 10px 10px;
  }
  .navbar-elements li.active{
    background-color: var(--navbar-component-active);
  }
  @media only screen and (max-width: 1000px){
    .navbar-elements li:hover{
      background-color: var(--navbar-component-default);
    }
    .navbar-elements li.active:hover {
      background-color: var(--navbar-component-active);
    }
  }