.solo-title {
  font-size: 30px;
  margin-top: 100px;
  padding-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.solo-text {
  width: 45%;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.clickToListen{
  font-size: small;
  font-weight: 800;
  padding-bottom: 20px;
  color: #798FBD;
}

.solocareer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 110%;
  padding: 0;
}

.album-container:nth-child(1) {
  background-color: var(
    --darker-background
  ); /* Style for the first .album-container */
}

.album-container:nth-child(2) {
  background-color: var(
    --background-rgb
  ); /* Style for the second .album-container */
}

.album-container:nth-child(3) {
  background-color: var(
    --darker-background
  ); /* Style for the third .album-container */
  margin-bottom: -5px;
}
.basic-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.album-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 500px 20px 500px;
  width: 110%;
}
.album-songs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-right: 20px;
  margin: 0;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  /* border-color: rebeccapurple;
    border-width: 10px; */
}
.album-title {
  /* padding-top: 0px; */
  padding: 0;
  margin-top: 0;
  font-size: 22px;
}

.album-year {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
  padding-top: 20px;
}

.albumPhoto {
  border-radius: 10%;
}

@media only screen and (max-width: 1000px) {
  .album-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-color: red;
        border-width: 5px; */
    width: auto;
    gap: 5px;
  }

  .album-title {
    font-size: 19px;
  }

  .album-songs {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 15px;
    /* border-color: blue;
        border-width: 5px; */
  }

  .solo-text {
    font-size: 15px;
    width: 90%;
  }

  .basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    /* border-color: blue;
      border-width: 5px; */
  }
  .solocareer-container {
    align-items: center;
    justify-content: center;
  }
}
