.polaroid{
    background-color: #fdf4ea;
    padding: 12px;
    margin-bottom:15px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px var(--darker-background);

}
.polaroid:hover{
    transform: scale(1.1);
    transition: 0.3s;
}