
.polaroid{
    background-color: #fdf4ea;
/*background-color: var(--post-background);*/
    padding: 12px;
    margin-bottom:15px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgb(45, 44, 44,0.3);
    

}
.polaroidText{
    font-family: 'Rock Salt', sans-serif;
    font-size: 17px;;
}
.polaroid:hover{
    transform: scale(1.1);
    transition: 0.3s;
}