@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Didact+Gothic&display=swap");

:root {
  --foreground-rgb: 32, 31, 31;
  --background-rgb: 245, 227, 206;
  --navbar-text: #f0e6d6;
  --navbar-component-active: #fbb238;
  --navbar-component-default: #ffb6c9;
  --button-default: #859dd0;
  --button-hover: #00485c;
  --darker-background: #ddc9ac;
  --photo-text-background: #f5e3ce;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 14px;
}



.homePageFullText {
  width: 650px;
  align-self: flex-start;
  padding: 50px 55px 50px 55px;
  margin-right: 50px;
}

.h1homePage {
  padding: 10px 14px 10px 10px;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.h2homePage {
  padding: 10px 14px 10px 10px;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.homePageText {
  text-align: justify;
  padding: 10px 14px 10px 10px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 50;
  line-height: normal;
  line-height: 1.3;
}

.posts-body {
  padding: 14px;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.homePagePhotos {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  justify-content: space-between;
  padding: 50px 55px 50px 55px;
  width: 440px;
  height: 440px;
  /* flex-shrink: 0; */
}

.heroSection {
  display: inline-flex;
}
.finalHeroSection {
  display: grid;
}
.tourGalleryButton,
.fanExperiencesButton {
  background-color: var(--button-default);
  padding: 10px 25px;
  margin-bottom: 60px;
  border-radius: 15px 15px 15px 15px;
  color: var(--navbar-text);
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: auto;
  justify-self: center;
}
.aboutHSButton {
  background-color: var(--button-default);
  padding: 10px 25px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 15px 15px 15px 15px;
  color: var(--navbar-text);
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: auto;
  justify-self: center;
}
.fanExperiencesButton:hover,
.tourGalleryButton:hover,
.aboutHSButton:hover {
  background-color: var(--button-hover);
}
/* .tourGalleryButton:hover {
  background-color: var(--button-hover);
} */
.lotElements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  /* padding-top: 65px; */
  padding-right: 20px;
}
.lotElements li {
  background-color: var(--button-default);
  padding: 10px 25px;
  border-radius: 15px 15px 15px 15px;
  color: var(--navbar-text);
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.aboutHSElements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  /* padding-top: 65px; */
  padding-right: 20px;
}

.aboutHSElements li {
  background-color: var(--button-default);
  padding: 10px 25px;
  border-radius: 15px 15px 15px 15px;
  color: var(--navbar-text);
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fansElements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  /* padding-top: 65px; */
  padding-right: 20px;
}
.fansElements li {
  background-color: var(--button-default);
  padding: 10px 25px;
  border-radius: 15px 15px 15px 15px;
  color: var(--navbar-text);
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btsElements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  /* padding-top: 65px; */
  padding-right: 20px;
}
.btsElements li {
  background-color: var(--button-default);
  padding: 10px 25px;
  border-radius: 15px 15px 15px 15px;
  color: var(--navbar-text);
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.finalHeroSection2 {
  background-color: var(--darker-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 110%;
  height: 800px;
  flex-shrink: 0;
}
.heroSection2Photos {
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  gap: 30px;
}

.regioEmilia,
.newYork,
.slaneCastle {
  background-color: var(--photo-text-background);
  border-radius: 10px;
  width: auto;
}
.regioEmiliaText,
.newYorkText,
.slaneCastleText {
  font-family: "Dela Gothic One", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  padding: 20px 0px 20px 0px;
}

.finalHeroSection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  padding-bottom: 0px;
}
.heroSection3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0px 60px 0px;
}
.fanExperiencesTitle {
  position:center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fanExperiencesText {
  text-align: justify;
  padding: 10px 10px 10px 10px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 50;
  line-height: normal;
  line-height: 1.3;
  width: 30%;
  align-self: center;
}

.fanExperiencePhoto {
  padding-left: 20px;
}
@media only screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;

    align-items: center;
  }

  .navbar-elements {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  .nav-logo {
    padding: 10px;
  }

  .navbar-elements li {
    padding: 10px 10px 10px 10px;
  }

  .homePageFullText {
    width: 100%;
    padding: 20px;
    margin-right: 0;
    position: relative;
  }
  .homePagePhotos {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .finalHeroSection2 {
    width: 140%;
  }
  .heroSection2Photos {
    display: flex;
    flex-direction: column;
  }
  .regioEmilia,
  .newYork {
    display: none;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .tourGalleryButton,
  .aboutHSButton {
    position: relative;
    bottom: 5%;
  }
 .heroSection3{
  display:flex;
  flex-direction: column;
 }
 .fanExperiencesText{
  width:100%;
 }
 .fanExperiencePhoto{
  display:none;
 }
}
