@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {
  --foreground-rgb: 32, 31, 31;
  --background-rgb: 245, 227, 206;
  --navbar-text: #f0e6d6;
  --navbar-component-active: #fbb238;
  --navbar-component-default: #ffb6c9;
  --navbar-component-hover: #E8A6B7;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

}
.content-box {
  background-color: #fbb238;
  color: #f8e4d4;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14.242px;
  padding-top: 65px;
  padding-right: 63.9px;
}
.navbar li {
  background-color: var(--navbar-component-default);
  padding: 14.2px 28.4px;
  border-radius: 5%;
  color: var(--navbar-text);
  text-align: center;
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.navbar li:hover{
  background-color: var(--navbar-component-hover);
}
.navbar li.active {
  background-color: var(--navbar-component-active);
}