.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
}
.mainTitle {
  font-size: 30px;
  margin-top: 100px;
  padding-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.description {
  margin: 20px 0px 20px 0px;
  text-align: center;
  width: 45%;
}

.clickToListen {
  font-size: small;
  font-weight: 800;
  padding-bottom: 20px;
  color: #798fbd;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
  padding: 0;
  /* border-color: red;
  border-width: 5px; */
}

.container,.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 40px;
  align-items: center;
}
.container:nth-child(odd) {
  background-color: var(--darker-background);
}

.container:nth-child(even) {
  background-color: var(--background-rgb);
  flex-direction: row-reverse;
}
.container:nth-child(even) > .basic-info {
  align-items: flex-end;
}
.container:nth-child(odd) > .content {
  text-align: right;
}
.basic-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 320px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  /* border-color: rebeccapurple;
      border-width: 10px; */
}
.lite {
  font-weight: 400;
}

.subTitle {
  /* padding-top: 0px; */
  padding: 0;
  margin-top: 0;
  font-size: 22px;
}

.year {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
  padding-top: 20px;
}

.photo {
  border-radius: 10%;
}
.ttText {
  padding: 0px;
}
.tt {
  padding-bottom: 20px;
}
@media only screen and (max-width: 1600px){
  .container{
    max-width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .mainTitle{
    font-size: 23px;
  }
  .container,
  .container:nth-child(even) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-color: red;
    border-width: 5px;
    flex-grow: 1; */
    gap: 5px;
    max-width: 100%;
  }
  .container.project{
    flex-direction: column-reverse;
  }

  .container:nth-child(even) > .basic-info {
    align-items: center;
  }

  .subTitle {
    font-size: 19px;
  }

  .content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border-color: blue;
          border-width: 5px; */
  }

  .clickToListen {
    text-align: center;
    padding-bottom: 30px;
  }
  .description {
    width: 90%;
  }

  .basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    /* border-color: blue;
        border-width: 5px; */
  }
  .mainContainer {
    align-items: center;
    justify-content: center;
  }
}
