.fpPage {
  display: flex;
  flex-direction: column;
}
.fpSubpageElements {
  /* border-color: red;
    border-width: 3px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  gap: 0px;
  margin-top: 0px;
  width: 95vw;
  margin-bottom: -30px;
  /* align-items: center; */
}
.couch {
  align-self: center;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: -70px;
  
}
.lamp {
  align-self: center;
  opacity: 0.6;
  margin-top: 60px;
  margin-bottom: -54px;
  scale: 0.8;
  z-index:-1;
}
.experiences-text,
.projects-text {
  /* border-color: red;
    border-width: 3px; */
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 60px 30px 0px 30px;/*u custom button je margin bottom 60px ,
                        pa poremeti sve pa sam ovako rucno*/
  gap: 0px;
  font-weight: 400;
  margin-left: -50px;
  margin-right: -50px;
  background-size: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  scale: 1.1;
}
.experiences-text{
  padding: 80px 30px 0px 30px;
  gap: 10px;
}

.experiences-text > p,
.projects-text > p {
  /* text-align: center;
  font-size: 19px;
  padding: 0px 55px 10px 55px;
  margin-top: -10px;
  margin-bottom: 40px;
  text-align: center; */
  font-size: 19px;
  scale: 0.8;
}

.button {
  padding: 0px 60px 10px 60px;
  margin-bottom: 40px;
  text-align: center;
}

.text {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  padding: 0px 65px 10px 65px;
  /* margin-top: -10px; */
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .fpSubpageElements {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .experiences-text > p,
  .projects-text > p {
    width: 70vw;
    margin-left: 35px;
    margin-right: 35px;

  }

  .lamp {
    margin-top: 40px;
    margin-left:25px;

  }
  .couch {
    margin-top: 21px;
    margin-bottom: -70px;
  }
}

@media only screen and (max-width: 500px) {
  .fpSubpageElements {
    flex-direction: column;
  }
  .experiences-text,
  .projects-text {
    width: 90vw;
  }


}
