.fpPage{
  display:flex;
  flex-direction:column;
}
.subpageElements {
  /* border-color: red;
    border-width: 3px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 50px;
  margin-top: 10px;
  width:95vw;
  /* align-items: center; */
}
.experiences-text,
.projects-text {
  /* border-color: red;
    border-width: 3px; */
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px; /*u custom button je margin bottom 60px ,
                        pa poremeti sve pa sam ovako rucno*/
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  gap: 40px;
  font-weight: 500;
  background-color: var(--darker-background);
  border-radius: 10%;
}
  .experiences-text>p, .projects-text>p{
    text-align: center;
  }
@media only screen and (max-width: 768px) {
  .subpageElements {
    flex-direction: column;
  }
  .experiences-text, .projects-text{
    width:70vw;
  }
}

@media only screen and (max-width: 500px) {
  .subpageElements {
    flex-direction: column;
  }
  .experiences-text, .projects-text{
    width:90vw;
    
  }

}



