/* Hamburger.css */

.hamburger-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 10px 20px 10px 0px;
    align-items: flex-end;
  }
  
  .bar {
    width: 50px;
    height: 4px;
    background-color: #333;
    border-radius: 18%;
    margin: 6px 0;
    transition: background-color 0.3s ease;
  }

  .additional-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    width:40vw;
  }
  
  
  .hamburger-container.open .additional-content {
    max-height: 1000px; 
  }
  
  .additional-content a {
    display: block;
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  .additional-content h2{
    font-size:15px;
  }
  
  .additional-content a:hover {
    background-color: #eee;
  }
  .hamburger-item.active{
    background-color: var(--darker-background);
  }
@media only screen and (max-width: 1000px){
  .bar{
    scale: 0.8;
  }
}


  