.posts {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.filter-buttons{
  display:flex;
  justify-content: center;
  margin-top: 70px;
}
.page{
  justify-content: flex-start;
  
}

